node_modules/

#ignore the entire frontend
frontend/*
frontend/**/*
#except the dist folder
!frontend/dist
!frontend/dist/**

#ingnore images subfolders, this is where you copy/mount/link more image directories
public/images/**/*
#don't ignore images main directory, these are the samples provided on github.
!public/images/*jpg
